<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Refugees United</title>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}main.css" />
</head>
    <body>
        <div>
            <div>
                <img src="{{STATIC_URL}}Top.gif" alt="Refugees United">
            </div>
{% block content %}
{% endblock %}
            <div class="footer"></div>
        </div>
    </body>
</html>
