{% extends "wap/base.html" %}
{% block content %}
                Welcome to Refugees United.<br>Please make your selection from the following menu:

                <ol class="orderedListNumbered">
                    <li><a href="youmayknow" accesskey="0"><img src="{{STATIC_URL}}people.png" />People you may know</a></li>
                    <li><a href="news" accesskey="0"><img src="{{STATIC_URL}}news.png" />News From your Home Town</a></li>

                    <li><a href="" accesskey="2">Search</a></li>
                    <li><a href="logout" accesskey="6">Log out</a></li>
                </ol>
                <br>
{% endblock %}
