{% extends "wap/base.html" %}
{% block content %}
            Thank you for using the Refugees United search tool.
            <br>We do NOT recommend the service of Refugees United to people at
            risk of being traced by potential persecutors. <br> <br>For more
            information about the service click
            <a href="https://m.refunite.org/ruwap/Logon?pB&lang=eng&about">here</a>.
            <br>If you are seeing this site on a computer or smartphone, you
            may prefer to use the Refugees United web site at
            <a href="http://www.refunite.org/">http://www.refunite.org/</a>.
            <br>
            <br>
            <h3>Search for news</h3>

            <form action="news" method="get">
                <p>
            <img src="{{STATIC_URL}}news.png" />
                    <label>Home Town:
                    </label><br>
                    <input type="text" name="home_town" class="textbox">
                </p>
                <input type="submit" value="Search For News" class="submit">
            </form>

            <br>
            <br>
            <br>Please enter your logon details or register a new user.
            <br><br>
            <form action="createuserform" method="post">
                {% csrf_token %}
                <input type="submit" value="NEW USERS" class="submit">
            </form>

            <form action="login" method="post">
                {% csrf_token %}
                <p>
                    <label>Username:</label><br>
                    <img src="{{STATIC_URL}}me_green.png" alt="" class="logon_img">
                    <input type="text" name="username" class="textbox">
                </p>
                <p>
                    <label>Password:</label><br>
                    <img src="{{STATIC_URL}}lock_green.png" alt="" class="logon_img">
                    <input type="password" name="password" class="textbox">
                </p>
                <p>
                    <input type="submit" name="signin" value="SIGN IN" class="submit">
                </p>
            </form>
            <br>
            <p>
                <a href="https://m.refunite.org/ruwap/Languages;jsessionid=4d9ea2357a8dc83130b9fff02b76?lang=eng">Use m.refunite.org in english</a><br>
                <a href="https://m.refunite.org/ruwap/Languages;jsessionid=4d9ea2357a8dc83130b9fff02b76?lang=kisw">Tumia m.refunite.org kwa kiingereza</a><br>
                <a href="https://m.refunite.org/ruwap/Languages;jsessionid=4d9ea2357a8dc83130b9fff02b76?lang=som">Isticmaal m.refunite.org ayadoo ingiliish ah</a><br>
                <a href="https://m.refunite.org/ruwap/Languages;jsessionid=4d9ea2357a8dc83130b9fff02b76?lang=ara">&#1575;&#1587;&#1578;&#1582;&#1583;&#1575;&#1605; &#1605;&#1608;&#1602;&#1593; m.refunite.org &#1576;&#1575;&#1604;&#1604;&#1594;&#1577; &#1575;&#1604;&#1573;&#1606;&#1580;&#1604;&#1610;&#1586;&#1610;&#1577;
<br>
</a>
                <a href="https://m.refunite.org/ruwap/Languages;jsessionid=4d9ea2357a8dc83130b9fff02b76?lang=fre">Utiliser m.refunite.org en français</a>
            </p>
{% endblock %}
