{% extends "wap/base.html" %}
{% block content %}
            <p><a href="homescreen" accesskey="0">Home</a></p>

            {% if home_town %}
                {% for news_item in news %}

                <div class='news_item'>
                    <p>{{ news_item.text }}</p>
                    <p><a href="user/{{news_item.author.username}}">{{ news_item.author.first_name }}
                        {{ news_item.author.last_name }}</a>
                    </p>
                </div>

                {% endfor %}
            {% else %}
                <p>Sorry, we don't have any news from your hometown</p>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <h3>Add Your News</h3>
            <form action="add_news" method="post">
                <p>
                    <label>News:</label>
                    <input type="text" name="text" class="textbox">
                </p>
                <p>
                    <label>Home Town:</label>
                    <input type="text" name="home_town" class="textbox">
                </p>
                <p>
                    <input type="submit" name="submit" value="submit" class="submit">
                </p>
            </form>
        {% endif %}
{% endblock %}
