{% extends "wap/base.html" %}
{% block content %}
            {% if user %}
                <div class='user'>
                    <h3>{{user.username}}</h3>
                    <p>Full Name: {{ user.first_name }} {{ user.last_name }}
                    </p>
                    <p>from <strong>{{ user.get_profile.home_town }}</strong>
                    </p>
                </div>
            <form action="#" method="post">
                <p>
                    <input name="send" value="CONTACT PERSON" type="submit" class="submit"><br><br>

                    <input name="add" value="SAVE CONTACT" type="submit" class="submit"><br><br>

                    <input name="new" value="PERFORM ANOTHER SEARCH" type="submit" class="submit"><br><br>
                    <input name="back" value="BACK TO SEARCH RESULTS" type="submit" class="submit"><br><br>
                    <input name="menu" value="MAIN MENU" type="submit" class="submit"><br>
                </p>
            </form>
            {% else %}
                <p>Sorry, we don't know that user</p>
            {% endif %}
{% endblock %}
